* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  background-color: #f9fafb;
}


header {
  background-color: #111827;
  color: white;
  gap: 5px;
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: center;
}

header span {

  font-size: 24px;
  font-weight: 600;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.body-left {
  flex: 1;
  margin-left: 20px;
}

.body-left img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}



.body-right {
  flex: 1;
  background-color: #1E293B;
  height: 88%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.bg {
  background-color: #ffffff;
  width: 100%;
  max-width: 320px;
  padding: 30px;
  border-radius: 12px;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 10px 15px rgba(0, 0, 0, 0.05);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0; 
}

.input h2 {
  text-align: center;
  color: #111827;
  margin-bottom: 20px;
}

.input h5 {
  font-size: 14px;
  color: #111827;
  margin-bottom: 6px;
  margin-top: 14px; 
}


input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
  font-size: 14px;
}


input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #3B82F6;
}


.btn {
  width: 100%; 
  background-color: #111827;
  color: white;
  cursor: pointer;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.btn:hover {
  background-color: #222d3c;
}

.input a {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #3B82F6;
  text-decoration: none;
  text-align: center;
  transition: color 0.2s;
}

.input a:hover {
  color: #2563EB;
  text-decoration: underline;
}





@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .body-left,
  .body-right {
    width: 100%;
    margin: 0;
  }

  .body-left img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .body-right {
    height: auto;
    padding: 20px 0;
  }
}



